@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
    0% {
        transform: translateX(-100%) skewX(-12deg);
    }
    100% {
        transform: translateX(200%) skewX(-12deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite;
}

.animate-fade-in {
    animation: fade-in 1.2s ease-out forwards;
}
